<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Url" type="CustomConfigurationSection.CustomConfigSection.UrlSection,CustomConfigurationSection"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <Url name="UrlName">
    <simple name="simpleName"></simple>
    <urls>
      <url name="url1" baseurl="http://lcoalhost" port="8080" query="cat"></url>
      <url name="url2" baseurl="http://lcoalhost" port="8081" query="dog"></url>
      <url name="url3" baseurl="http://lcoalhost" port="8082" query="snake"></url>
    </urls>
  </Url>
</configuration>